body {
    margin: 0;
    font-family: sans-serif;
}

button {
    background-color: whitesmoke;
    color: black;
    border : solid;
    padding: 8px;
}

.container {
    background-color: yellow;
    text-align: center;
    margin: 0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 60px;
    padding: 0 40px 40px 40px;
}

button, .sketchbox {
    box-shadow: 10px 10px;
}

.sketchBox {
    display: grid;
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: whitesmoke;
}

.square {
    border-color: black;
}

.title {
    margin-top: 0;
    font-size: 40px;
    padding-top: 30px;
}

.footer {
    padding: 10px;
    font-size: 17px;
}

.footer a {
    text-decoration-line: none;
    color: black;
}

.subtitle {
    font-size: 20px;
    font-style: italic;
}

